body{
    padding: 20px;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

.ddown-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.ddown{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    margin: 0 auto;
}

.ddown-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    margin: 0 auto;
}

.source-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.source-link{
    margin-left: 10px;
    font-size: 14px;
}

.header-link{
    margin: 0 20px;
}

.btn-secondary{
    font-size: 20px;
    width: 70px;
    animation: flash 1s forwards;
    border-radius: 0;
    background-color: #f0f0f0;
}

/* flash animation on button */
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.btn-secondary:hover{
    background-color: lightblue;
}

h3{
    display: flex;
    justify-content: space-between;
}