body{
    padding: 20px;
}

.table-pie-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ddown-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.ddown{
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    margin: 0 auto;

}

.source-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.source-link{
    margin-left: 10px;
    font-size: 14px;
}